[user]
    name = RamilG
    email = ramil@gadzhiev.me

[core]
    editor = nvim
    excludesfile = ~/dotfiles/git/.gitignore
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false

[init]
    defaultBranch = main

[pull]
    ff = only

[merge]
    conflictstyle = diff3
    ff = only

[push]
    default = upstream
    autoSetupRemote = true

[fetch]
    prune = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
