[user]
	name = RamilG
	email = rami.gaggi@gmail.com
[core]
	editor = nvim
	excludesfile = /home/ramil/dotfiles/git/.gitignore
[init]
	defaultBranch = main
[pull]
	ff = only
[merge]
	ff = only
[push]
	default = upstream
	autoSetupRemote = true
[fetch]
	prune = true
